[data-theme="light"] {
  --color-primary: rgb(201, 162, 39);
  --color-selection: rgba(180, 213, 254, 0.5);
  --color-secondary: rgb(235, 235, 235);
  --color-secondary-transparent: rgba(235, 235, 235, 0.8);
  --color-offset: rgb(205, 205, 205);
  --color-accent: rgb(255, 114, 71);
  --color-text: rgb(10, 10, 10);
  --color-icon: theme("colors.gray.400");
  --color-background: rgb(252, 252, 252);
  --color-border: theme("colors.gray.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: rgb(245, 203, 92);
  --color-selection: rgba(105, 155, 216, 0.5);
  --color-secondary: rgb(48, 48, 48);
  --color-secondary-transparent: rgba(48, 48, 48, 0.8);
  --color-offset: rgb(78, 78, 78);
  --color-accent: rgb(255, 114, 71);
  --color-text: rgb(252, 252, 252);
  --color-icon: rgb(252, 252, 252);
  --color-background: rgb(10, 10, 10);
  --color-border: theme("colors.gray.50" / 10%);
  --color-glow: var(--color-text);
}
