---
import Faq from "~/components/faq.svelte";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Splash from "~/components/splash.astro";
import About from "~/components/about.astro";
import Sponsors from "~/components/sponsors.astro";
import Timeline from "~/components/timeline.astro";
import Carousel from "~/components/carousel.astro";
import SiteLayout from "~/layouts/site-layout.astro";
---

<SiteLayout title="MCPS HSF">
	<Header onBlog=false />
	<Splash />
	<div class="flex flex-col items-center gap-12 md:gap-16 lg:gap-20 pt-32 pb-8 md:pb-16 w-full">
		<About />
		<Timeline />
		<Carousel />
		<Sponsors />
		<Faq client:idle />
	</div>
	<Footer />
</SiteLayout>
