---
---

<div
	id="about"
	class="flex flex-col xl:flex-row gap-8 w-full py-24 px-8 xs:px-12 md:px-24 place-content-center"
>
	<div
		class="xl:mr-0 px-8 flex gap-4 flex-col bg-secondary rounded-2xl border-offset border-4 w-full xl:w-[45%]"
	>
		<span
			class="pt-6 text-lg xs:text-3xl lg:text-2xl xl:text-3xl font-semibold font-heading"
		>
			More than a CTF
		</span>
		<p class="text-xs xs:text-sm 2xl:text-lg font-light">
			CTFs are awesome for honing your cyber skills, but let's face it: they're
			not always a true reflection of real-life challenges. It's time to change
			that.
		</p>
		<p class="text-xs xs:text-sm 2xl:text-lg font-light">
			MCPS HSF is designed to be more realistic, with the winning teams chosen
			based on their score and writeup. We want to see <span
				class="text-primary font-normal">how you think</span
			>, not just how fast you can solve a problem.
		</p>
		<p class="text-xs xs:text-sm 2xl:text-lg font-light pb-8">
			And fun? We've got that covered too! Each year's competition revolves
			around a <span class="text-primary font-normal">mystery</span> and there's
			always at least one physical challenge (last year it was lockpicking).
		</p>
	</div>
	<img src="images/hsf-people.png" alt="People at MCPSHSF 2023" class="object-cover rounded-2xl w-full xl:w-[45%]">
	
</div>

<style>
	#about {
		background-image: radial-gradient(theme("colors.text") 1%, transparent 2%),
			radial-gradient(theme("colors.text") 1%, transparent 2%);
		background-position: 0 0, 50px 50px;
		background-size: 100px 100px;
	}
</style>
