---
---

<div
	id="about"
	class="flex w-full flex-col place-content-center gap-8 py-24 px-8 xs:px-12 md:px-24 xl:flex-row"
>
	<div
		class="flex w-full flex-col gap-4 rounded-2xl border-4 border-offset bg-secondary px-8 xl:mr-0 xl:w-[45%]"
	>
		<span
			class="-mb-2 pt-6 font-semibold text-lg xs:text-3xl lg:text-2xl xl:text-3xl"
		>
			More than a CTF
		</span>
		<p class="font-extralight text-xs xs:text-sm 2xl:text-lg">
			CTFs are awesome for honing your cyber skills, but let's face it:
			they're not always a true reflection of real-life challenges. It's
			time to change that.
		</p>
		<p class="font-extralight text-xs xs:text-sm 2xl:text-lg">
			MCPS HSF is designed to be more realistic, with the winning teams
			chosen based on their score and writeup. We want to see <span
				class="font-normal text-primary">how you think</span
			>, not just how fast you can solve a problem.
		</p>
		<p class="pb-8 font-extralight text-xs xs:text-sm 2xl:text-lg">
			And fun? We've got that covered too! Each year's competition
			revolves around a <span class="font-normal text-primary"
				>mystery</span
			> and there's always at least one physical challenge (last year it was
			lockpicking).
		</p>
	</div>
	<img
		src="images/hsf-people.png"
		alt="People at MCPSHSF 2023"
		class="w-full rounded-2xl object-cover xl:w-[45%]"
	/>
</div>

<style>
	#about {
		background-image: radial-gradient(
				theme("colors.text") 1%,
				transparent 2%
			),
			radial-gradient(theme("colors.text") 1%, transparent 2%);
		background-position: 0 0, 50px 50px;
		background-size: 100px 100px;
	}
</style>
