---
const images = [
	"images/hsf2.jpg",
	"images/hsf3.jpg",
	"images/hsf4.jpg",
	"images/hsf5.jpg",
	"images/hsf6.jpg",
	"images/hsf7.jpg",
];
---

<div
	class="relative w-[80%] rotate-0 overflow-x-hidden py-4 md:my-16 md:w-[85%] md:rotate-1 lg:my-20"
>
	<div id="fade" class="absolute inset-0 z-10 h-full w-full"></div>
	<div
		id="background"
		class="-z-1 absolute inset-0 w-full border border-offset bg-secondary"
	>
	</div>
	<div
		id="carousel"
		class="z-1 mx-4 flex h-[200%] w-auto flex-col gap-4 border-x-[10px] border-dashed border-offset px-4 py-4 md:mx-0 md:h-auto md:w-[420%] md:flex-row md:border-y-[10px] md:px-0"
	>
		<div class="w-full">
			<ul class="flex list-none flex-col gap-4 md:flex-row">
				{
					images.map((image) => (
						<li class="relative">
							<img
								alt="People at MCPSHSF"
								class="block h-full w-[60rem] rounded-md md:w-[35rem]"
								src={image}
							/>
							<div
								id="image-cover"
								class="absolute inset-0 rounded-md"
							/>
						</li>
					))
				}
			</ul>
		</div>
		<div class="hidden w-full md:inline-block">
			<ul class="flex list-none gap-4">
				{
					images.map((image) => (
						<li class="relative">
							<img
								alt="People at MCPSHSF"
								class="block h-full w-[60rem] rounded-md md:w-[35rem]"
								src={image}
							/>
							<div
								id="image-cover"
								class="absolute inset-0 rounded-md"
							/>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</div>

<style>
	#image-cover {
		box-shadow: inset 0px 0px 20px 0px var(--color-text);
	}

	@media (min-width: 768px) {
		#carousel {
			animation: bannermove 40s linear infinite;
		}
		#fade {
			background-image: linear-gradient(
				to right,
				var(--color-background) 0%,
				transparent 20%,
				transparent 80%,
				var(--color-background) 100%
			);
		}
	}

	#carousel {
		transform: translateX(0);
	}

	@media (max-width: 768px) {
		#fade {
			background-image: linear-gradient(
				to bottom,
				var(--color-background) 0%,
				transparent 10%,
				transparent 90%,
				var(--color-background) 100%
			);
		}
	}

	@keyframes bannermove {
		0% {
			transform: translateX(-50%);
		}
		100% {
			transform: translateX(0);
		}
	}
</style>
