---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
	{
		url: "mailto:chris@breadchris.com",
		description: "Email",
		icon: "mdi:email",
	},
	{
		url: "https://github.com/CTFg/",
		description: "Our projects",
		icon: "mdi:github",
	},
	{
		url: "https://discord.gg/bzRjJSFndW",
		description: "Discord",
		icon: "fa-brands:discord",
	},
];
---

<footer class="flex w-full flex-col items-center text-white text-default">
	<ul class="mb-2 flex flex-row items-center justify-center">
		{
			links.map((link) => (
				<li>
					<a
						class="flex h-16 w-16 p-4 hover:text-primary sm:h-20 sm:w-20"
						href={link.url}
						aria-label={link.description}
					>
						<span class="sr-only">{link.description}</span>
						<Icon class="h-full" name={link.icon} />
					</a>
				</li>
			))
		}
	</ul>
	<p
		class="mb-8 text-center font-light text-offset text-xs xs:mb-12 xs:text-sm"
	>
		Fiscally sponsored by The Hack Foundation <br />
		Nonprofit EIN: 81-2908499
	</p>
</footer>
