---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
	{
		url: "mailto:chris@breadchris.com",
		description: "Email",
		icon: "mdi:email",
	},
	{
		url: "https://github.com/CTFg/",
		description: "Our projects",
		icon: "mdi:github",
	},
	{
		url: "https://discord.gg/bzRjJSFndW",
		description: "Discord",
		icon: "fa-brands:discord",
	},
];
---
<span
	class="text-white flex flex-col items-center text-default"
>
		<ul class="flex flex-row items-center justify-center mb-2">
			{
				links.map((link) => (
					<li>
						<a
							class="flex h-16 w-16 sm:h-20 sm:w-20 hover:text-primary p-4"
							href={link.url}
						>
							<span class="sr-only">{link.description}</span>
							<Icon class="h-full" name={link.icon} />
						</a>
					</li>
				))
			}
		</ul>
		<p class="text-center text-offset text-xs xs:text-sm font-light mb-8 xs:mb-12">
			Fiscally sponsored by The Hack Foundation <br />
			Nonprofit EIN: 81-2908499
		</p>
	</div>
</footer>
