---
import Carousel from "./carousel.svelte";
---
<h2 class="text-center font-extrabold tracking-tight text-6xl">
    MCPS HSF is <span class="gradient-text">different</span>.
</h2>
<Carousel client:idle/>
