---
import Pictures from "~/components/pictures.svelte";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section id="splash" class="relative h-full bg-black overflow-hidden">
	<Starfield />
    <div class="absolute right-0 top-0 h-16 w-16 z-10">
        <a 
        class="absolute transform rotate-45 bg-orange-600 text-white text-center hover:text-white hover:scale-110 transition ease-in-out duration-300 hover:font-bold font-semibold py-1 right-[-55px] top-[45px] w-[240px]"
        href="https://bank.hackclub.com/donations/start/mcps-hsf">
        Sponsor Us
        </a>
    </div>
  </div>
	<div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
		<HeroImage />
	</div>
	<div
		class="relative flex flex-row items-center justify-center h-full md:gap-16"
	>
		<div class="flex flex-col text-center gap-4">
		<h2
			class="gradient-text font-extrabold tracking-tighter text-8xl"
		>
			Not your<br />
			average <br />
			CTF. <br />
		</h2>
		<p>Interested? <a class="text-primary underline" href="mailto:chris.thompson1612@gmail.com">Contact Us</a></p>
		</div>

		<Pictures client:only />
	</div>
	<div class="absolute right-1/2 -translate-x-[-50%] bottom-[15vh]"></div>
</section>

<noscript>
	<style>
		#splash-bg-fallback {
			display: block;
		}
	</style>
</noscript>

<style>
	@media (prefers-reduced-motion: reduce) {
		:global(#starfield) {
			@apply hidden;
		}

		#splash-bg-fallback {
			@apply block;
		}
	}
</style>
