---
import SponsorButton from "./sponsor-button.svelte";
---

<span
	id="sponsors"
	class="w-full xl:w-[50%] border-b border-primary font-heading font-bold -mb-6 md:-mb-10"
>
<span class="absolute text-5xl bg-default left-1/2 -translate-x-1/2 -translate-y-1/2 px-4">Sponsors</span>
</span>
<div class="flex flex-col gap-8 text-center">
	<span class="font-light tracking-tight text-xs xs:text-sm md:text-base px-8 sm:px-[10%]">
		Our sponsors help us unite MCPS students to learn about cybersecurity and
		digital forensics.
	</span>
	<SponsorButton client:load />
</div>
