---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Sponsors" id="sponsors">
  <Fragment slot="lead">
    To be added later...
  </Fragment>
  <p class="text-offset">Interested in sponsoring us? Make a tax-deductible donation <a class="text-primary underline" href="https://bank.hackclub.com/donations/start/mcps-hsf">here.</a></p>
</ContentSection>
