---
import SponsorButton from "./sponsor-button.svelte";
---

<span
	id="sponsors"
	class="-mb-6 w-full border-b border-primary font-heading font-bold md:-mb-10 xl:w-[50%]"
>
	<span
		class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 bg-default px-4 text-5xl"
		>Sponsors</span
	>
</span>
<div class="flex flex-col gap-8 text-center">
	<span
		class="px-8 font-extralight tracking-tight text-xs xs:text-sm sm:px-[10%] md:text-base"
	>
		Our sponsors help us unite MCPS students to learn about cybersecurity
		and digital forensics.
	</span>
	<SponsorButton client:load />
</div>
