---
import ContentSection from "~/components/content-section.astro";
import CrimeScene from "~/components/crime-scene.astro";
---

<ContentSection title="Why MCPSHSF?" id="why-hsf">
  <Fragment slot="lead">
    MCPS HSF is for <span class="text-primary">TV Watchers</span> and anyone who loves a good mystery.
    <span class="text-primary">Cyber-forensics</span> meets NCIS and <span class="text-primary">who-dun-its</span>.
  </Fragment>
  <CrimeScene />
</ContentSection>
